.panel {
  width: 100%;
  min-height: 50vh;
  overflow-y: auto;
  padding: 1.5rem;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.panel::-webkit-scrollbar {
  display: none;
}

.copy {
  font-family: 'Droulers', sans-serif;
  color: var(--green);
  line-height: 1.6;
  font-size: 1.235rem;
  max-width: 75ch;
  text-align: justify;
}

.copy p + p {
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .panel {
    position: absolute;
    top: var(--x-line);
    left: calc(92% - (100% - var(--y-line)) * 0.425);
    width: calc((100% - var(--y-line)) * 0.425);
    height: calc(100% - var(--x-line));
    min-height: unset;
    padding: 2rem;
  }
}
